In [27]:
#int to others
print(float(20))
print(bool(20))
print(str(20))
print(complex(20))

20.0
True
20
(20+0j)

In [26]:
#float to others
print(int(20.3))
print(bool(20.3))
print(str(20.3))
print(complex(20.3))

20
True
20.3
(20.3+0j)

In [20]:
#string to others
print(int("string"))

ValueError: invalid literal for int() with base 10: 'string'

In [21]:
#string to others
print(float("string"))

ValueError: could not convert string to float: 'string'

In [22]:
#string to others
print(bool("string"))

True

In [23]:
#string to others
print(complex("string"))

ValueError: complex() arg is a malformed string

In [2]:
#bool to others
print(int(True))
print(float(True))
print(str(True))
print(complex(True))

1
1.0
True
(1+0j)

In [3]:
#bool to others
print(int(False))
print(float(False))
print(str(False))
print(complex(False))

0
0.0
False
0j

In [24]:
#complex to others
print(int(3+4j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [25]:
#complex to others
print(float(3+4j))

TypeError: float() argument must be a string or a real number, not 'complex'

In [6]:
#complex to others
print(str(3+4j))
print(bool(3+4j))

(3+4j)
True

In [7]:
str(10),str(10.5),str(3+4j),str(True),str(False)

('10', '10.5', '(3+4j)', 'True', 'False')

In [8]:
print(" Hi How ----------")

 Hi How ----------

In [9]:
print(10,20,30)

10 20 30

In [10]:
print(10,"and",20)

10 and 20

In [11]:
print("10 and 20")

10 and 20

In [14]:
num1=10
num2=20
print(num1,num2)
print(10,20)
print(num1,"and",20)
print(10 ,"and",20)
print("10 and 20")
print("num1 and num2")

10 20
10 20
10 and 20
10 and 20
10 and 20
num1 and num2

In [15]:
#avoid using this type of print statements
a=10
b=20
c=a+b
print("the addition of",a,"and",b,"is equal to",c)

the addition of 10 and 20 is equal to 30

In [16]:
#avoid using this type of print statements
name="Surya"
city="hyderabad"
age=23
print("my name is",name,"I am from",city,"and my age is",age)

my name is Surya I am from hyderabad and my age is 23

In [28]:
# method-2 format
#use this type of print statements
a=10
b=20
c=a+b
print("the addition of {} and {} is equal to {}".format(a,b,c))

the addition of 10 and 20 is equal to 30

In [30]:
name="Surya"
city="hyderabad"
age=23
print("my name is {} I am from {} and my age is {}".format(name,city,age))

my name is Surya I am from hyderabad and my age is 23

In [31]:
# method-3  fstring method
a=10
b=20
c=a+b
print(f"the addition of {a} and {b} is equal to {c}")

the addition of 10 and 20 is equal to 30

In [32]:
name="Surya"
city="hyderabad"
age=23
print(f"my name is {name} I am from {city} and my age is {age}")

my name is Surya I am from hyderabad and my age is 23

In [34]:
# $ end operator$
# join elements in print
print("hi")
print("hello")
print("hi",end=" ") ##### side by side
print("how are you")

hi
hello
hi how are you

In [35]:
print(1)
print(2)
print(3)
# side by side using end operator
print(1, end=" ")
print(2, end=" ")
print(3)

1
2
3
1 2 3

In [37]:
# $ seperator method --- sep $
# seperate elements in print
print("hi","how are you")
print("hi","how are you", sep=" and ")

hi how are you
hi and how are you

In [39]:
print(1,2,3,4,5,6,7,8,9,sep="<->")

1<->2<->3<->4<->5<->6<->7<->8<->9

# Summary
- format
- fstring
- end
- sep